{% extends "_template.html.twig" %}

{% block content %}

<section id="mentions_page" class="dimension">
 
            <h1>Mentions légales et Politique de confidentialité</h1><br>

            <h2> Identification et Publication</h2> 

                <p>Ce site est publié par PaMeKitchen domicilié au 19 Av Simone Signoret 95490 Vauréal</p>
                <p>e-mail : PaMeKitchen - Vukimdung264@gmail.com et melissasabine77@gmail.com</p>
           

                <p>Directrices de la publication : Vu Kim et Sabine Mélissa</p>

            <h3>Hébergeur</h3>
                <p>Ce site est hébergé par 000.webhost 61 Rue Lordou Vironos 6023 Larnaca, Chypre</p><br>

            <h2>Introduction</h2>
                <p>Dans le cadre de son activité, PaMeKitchen, dont l'adresse est située au 19 Av Simone Signoret, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". PaMeKitchen attache une grande importance au respect de la vie privée, et n’utilise que des données de manière responsable et confidentielle et dans une finalité précise. </p>

            <h2>Données personnelles</h2>
                <p>Sur le site web www.pamekitchen.000webhostapp.com, il y a 2 types de données susceptibles d’être recueillies :</p>
                <p>Les données transmises directement</p>
                <p>Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par contact direct par email. Sont obligatoires dans le formulaire de contact le champs « prénom et nom », « entreprise ou organisation » et « email ».</p>
                <p>Les données collectées automatiquement</p>
                <p>Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.</p><br>
                <p>Utilisation des données</p>
                <p>Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par [Société], responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.</p><br>

                <h3> Base légale</h3>
                    <p>Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.</p><br>

                        <h4>Durée de conservation</h4>
                            <p>Les données seront sauvegardées durant une durée maximale de 3 ans.</p><br>

                    <h4>Cookies</h4>
                        <p>Voici la liste des cookies utilisées et leur objectif :</p>
                        <p>Cookies Google Analytics (liste exhaustive) : Web analytics</p>
                        <p>[Nom du cookie] : Permet de garder en mémoire le fait que vous acceptez les cookies afin de ne plus vous importuner lors de votre prochaine visite.</p><br>

                <h3> Vos droits concernant les données personnelles</h3>
                    <p>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.</p><br>

                <h3>Contact délégué à la protection des données</h3>
                    <p>PaMeKitchen - Vukimdung264@gmail.com et melissasabine77@gmail.com</p>

        </section>    



{% endblock %}