{% extends "/admin/_templateadmin.html.twig" %}


    {% block title %}

        Back-office

    {% endblock  %}

    {%  block content %}

        {# {% include "includes/flash.html.twig" %}     #}

        <div class="dimension">
            <h3 class="title">Back-office</h3>
      

        {% include "/admin/dashboard/recette_form.html.twig" %}

        </div>

    {% endblock %}