{% extends "admin/_templateadmin.html.twig" %}


{% block title %}

    Back-office

{% endblock  %}

{%  block content %}

    <div class="section">
        <h1 class="title">Back-office</h1>

    </div>

{% include "admin/dashboard/recette_form.html.twig" %}

 {% endblock %}