{% extends "admin/_templateadmin.html.twig" %}

{% block title %}
    Nouvel artiste
{% endblock %}


{% block content %}

    <div class="dimension">

        <h2 class="title">Nouvelle recette</h2>

      {% include "admin/dashboard/recette_form.html.twig" %}
    </div>

{% endblock %}