{% extends "admin/_templateadmin.html.twig" %}

{% block title %}
    Nouvel artiste
{% endblock %}


{% block content %}

    <div class="section">

        <h1 class="title">Nouvelle recette</h1>

      {% include "admin/dashboard/_artist_form.html.twig" %}
    </div>

{% endblock %}