{% extends "admin/_templateadmin.html.twig" %}

{% block title %}

    Artiste - {{recette.name}}

{% endblock %}

{% block content %}

    <div class="dimension">

        <h1 class="title">{{recette.name}}</h1>

        {% include "includes/flash.html.twig" %}

        {% include "admin/dashboard/recette_form.html.twig" %}
    
    </div>

{% endblock %}