{# {% extends "_template.html.twig" %}

{% block title %}
    Bonjour {{app.user}},
{% endblock %}

{% block content %} #}
    
     {# <div class="section">

        <h2>Voici tes recettes : {{recette.user | length}}</h2>
       
        {% include 'recette/recette_list.html.twig' with {recette_list : recette.user} %}

    </div> #}

{# {% endblock %} #}