{% extends "_template.html.twig" %}


    {% block title %}

        Ajout recette

    {% endblock  %}

    {%  block content %}

        {# {% include "includes/flash.html.twig" %}     #}

        <div class="dimension">

            <h3 class="title">Ajouter une recette</h3>
     
        {% include "user/recette_form.html.twig" %}

        </div>

    {% endblock %}